html{
    background-color: cyan;
}
h3{
    color: yellow;
}
li a{
    color: black;
    background-color: orangered;
}
li a:hover{
    font-size: 1.5em;
    color: purple;
}
li a:visited{
    color: white;
}
li a:visited:hover{
    color: purple;
}
footer{
    text-align: center;
}
img{
    margin: 20px;
    text-align: center;
}
header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
